**node_modules
**build
**/.DS_Store
tbarlowg.com/api/image-manager-SA.json
tbarlowg.com/api/src/key.ts
tbarlowg.com/api/yarn-error.log
tbarlowg.com/.yarn/unplugged/.DS_Store
tbarlowg.com/.yarn/install-state.gz
tbarlowg.com/.yarn/build-state.yml
