{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/member-delimiter-style": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "semi": [
      "error",
      "never"
    ],
    "indent": [
      "error",
      2
    ]
  }
}
